<nav  class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navbar.html">
    <a class="navbar-brand" style="margin-left:5px;" href="/welcome">Northwind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <script>
            function determineActive()
            {
                let currentPath = window.location.href;
                let elements = [
                    document.getElementById("navCustomers"),
                    document.getElementById("navProducts"),
                    document.getElementById("navEmployees"),
                    document.getElementById("navOrders")
                ];
                for(let elem of elements)
                {
                    let aElem = elem.getElementsByTagName("a")[0];
                    if(currentPath.contains(aElem.getAttribute("href"))) {
                        elem.classList.add("active");
                    }
                }
            }
        </script>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" onload="determineActive();">
            <li id="navCustomers" class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/customers">Customers</a>
            </li>
            <li id="navProducts" class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li id="navOrders" class="nav-item active">
                <a class="nav-link" href="/orders">Orders</a>
            </li>
            <li id="navEmployees" class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/employees">Employees</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0" href="/order/new">New Order</a>
        </form>
    </div>
</nav>
