#header {

}
#footer {

}
body.bg-image
{
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width:100vw;
    height:100vh;
    overflow:hidden;
}
div.bg-image{
    background-image: url("/images/bg.jpg");
    filter: blur(8px);

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.back-message {
    font-size: 50px;
}
div.back-message {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: block; text-align: left; width: 650px; margin: 0 auto;
    text-align: center; padding: 150px;
}



div.action-container{
    position: absolute;
    float:left;
    left:10%;
    right:10%;
    bottom:10%;
    top:10%;
    background-color:#00000020;
    border-width: 2pt;
    border-radius:10pt;
    border-color: #FFFFFF20;
    padding: 10pt;
}
div.action-set{

}

