<html>
<head>
    <title>Access denied</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
    <body style="flex: auto;align-content:center;text-align: center;height:100%;overflow: hidden;">
        <p style='font-size: 72pt;font-family: "Comic Neue","Comic Sans MS", "Comic Sans", cursive;'>✨✨✨Access denied ✨✨✨</p>
        <div class="action-container">
            <div class="action-set">
                <h1></h1>
                <a class="btn btn-outline-primary" href="/welcome">Return</a>
            </div>
        </div>
    </body>
</html>